body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 55px;
    color: white;
    background-color: #885717;
}

h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
}

h3 {
    font-size: 25px;
    text-align: center;
}


img {
    width: 300px;
    height: auto;
}

.description {
    font-size: 18px;
    font-weight: 100;
}

ul {
    font-size: 18px;
    text-align: left;
}

ol {
    font-size: 18px;
    text-align: left;
}

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

.pagetitle {
    background-color:#592125;
    padding: 5px;
    border: 5px;
}

.space {
    height: 40px;
    width: auto;
}

.recipes {
    width: 600px;
    margin-right: 33%;
    background-color: #592125;
    padding: 20px;
}

.list {
    display: block;
    width: auto;
    margin: auto;
}

.choice {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    padding: 5px;
    width: 400px;
    margin-right: 33% ;
    margin-bottom: 5px;
    color: white;
    background-color: #885717;
}

.food {
    width: 700px;
}